PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.hvqw3yu.mongodb.net/maytri_crm?retryWrites=true&w=majority&appName=Cluster0
CORS_ORIGIN=*

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=s8b4ps7b
CLOUDINARY_API_KEY=439984278246422
CLOUDINARY_API_SECRET=jegsCKfQtcc0_NeQdbERH9RXxjg
CLOUDINARY_URL=cloudinary://439984278246422:jegsCKfQtcc0_NeQdbERH9RXxjg@s8b4ps7b
